
# konfigurace služeb poskytovaných balíčkem
# tento config se nahrává před configy aplikace, proto mohou být nastavení aplikací změněny

parameters:
	repositories:
#		repositoryName: Namespace\RepositoryClass

services:
#	repositoryServiceName:
#		class: %repositories.repositoryName%
#		factory: @orm.getRepository(repositoryName)
